{% include 'header.twig' with {
  'base':'/',
  'title':'Added User'
} %}
<body class="micro-page">
  <div id="fold">
    <div id="manage-user-form__header">
      <header>
        <h1>Added User {{ user.username }} ({{ user.id }})</h1>
        {% if updated %}
        <p><mark>Your new user has successful been saved</mark>. Return to <a href="/">Manage Users</a>.</p>
        <hr style="margin-bottom:1em">
      {% endif %}
        <div class="create-user-module">
          <form action="/update/user/{{ user.id }}" method="post" class="create-setting-form">
              {{ react }}
          </form>
        </div>
      </header>
    </div>
    <div class="horizontally-padded">
      <aside class="bright oblique balanced padded">
        <p>
          {{ user.givenname }} {{ user.familyname }} last logged in 12 days&nbsp;ago.
        </p>
      </aside>
    </div>
    <div class="horizontally-padded">
      {% include 'returnto.twig' %}
    </div>
  </div>
</body>
