<form action="{{endpoints.USERS_DEACTIVATE|default('/users/deactivate')}}" method="post">
  <input type="hidden" name="usergroup" value="{{ userGroup.id }}" />
  {% set emails = [] %}
  {% for user in users %}
    {% if userGroup.id in user.user_groups %}
      {% set emails = emails|merge([user.email]) %}
      <input type="hidden" name="users[]" id="usergroup-{{ userGroup.id }}-{{ user.id }}-users[]" value="{{ user.id }}" />
    {% endif %}
  {% endfor %}
  <fieldset>
    <legend aria-label="Bulk Actions are conditionally enabled options such as activate, suspend, delete or email that can be executed on selected users.">Bulk Actions</legend>
    <button class="danger" type="submit" formaction="{{endpoints.USERS_DEACTIVATE|default('/users/deactivate')}}" formmethod="post">Suspend All<span class="accessibly-hidden"> {{ userGroup.name }} Users</span></button>
    <button type="submit" className="go" formaction="{{endpoints.USERS_ACTIVATE|default('/users/activate')}}">Activate All<span class="accessibly-hidden"> {{ userGroup.name }} Users</span></button>
    <button class="delete" formaction="/users/delete" formmethod="post">Delete All<span class="accessibly-hidden"> {{ userGroup.name }} Users</span></button>
    <a class="button" href="mailto:{{ emails|join(',') }}?subject=MODX%20Next">Email All<span class="accessibly-hidden"> {{ userGroup.name }} Users</span></a>
  </fieldset>
</form>
