<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>YOLO</title>
  </head>
  <body>
    <h1>{{ message }}</h1>
    <ul>
      {% for userGroup in userGroups %}
          <li>
            <h2>{{ userGroup.id }}: {{ userGroup.name }}</h2>
            <div>
              {% for user in users %}
                  {% if userGroup.id in user.user_groups %}
                    * {{ user.username }} {{ user.user_groups }}
                  {% endif %}
              {% else %}
                  No users have been found.
              {% endfor %}
            </div>
          </li>
      {% endfor %}
    </ul>
  </body>
</html>
